{{ define "main" }}

<div class="index-content">
    {{ .Content }}
</div>

<article class="post h-entry">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
</article>

<div class="articles h-feed">
    {{ range .Pages.ByLastmod.Reverse }}
    <div class="post-short-list h-entry">
        <header class="post-header">
            <h2 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">
                <a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " }}</a>
            </h2>
            {{ partial "post-language-switcher.html" . }}
        </header>
        <div class="post-info">
            <div class="post-date dt-published">{{ .Lastmod.Format .Site.Params.dateFormat }}</div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}